html,body{
    margin: 0px;
    padding: 0px;
/*    background-color: #DFDCE3;*/
}

.text{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 3px;
}

.text-header-description{
    color: #465C8B;
    text-align: left;
    font-size: 25px;
}

.text-header{
    font-size: 100px;
    color: #465C8B;
    text-align: left;
}

.text-body-description
{
    color: #465C8B;
    text-align: left;
    font-size: 18px;
    line-height: 30px;
}

.custom_nav li a{
    background-color: #808080; opacity: 0.7; filter:alpha(opacity=70);
    color: #DFDCE3
}

.bgimg{
    background-image:url('headerimg.jpg');
    background-repeat: no-repeat;
    background-size:contain;
    background-position:center;
}

/* Popover */
.popover {
    border: 2px dotted black;
}

/* Popover Header */
.popover-title {
    background-color: white; 
    color: black; 
    font-size: 25px;
    text-align:center;
    font-family: 'Oswald', sans-serif;
}

/* Popover Body */
.popover-content {
    background-color: white;
    color: black;
    padding: 25px;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;

}

/* Popover Arrow */
.arrow {
    border-top-color: red !important;
}



pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}