html,body{
    margin: 0px;
    padding: 0px;
    background-color: #DFDCE3;
}

@font-face {
    font-family: myFirstFont;
    src: url(circular.otf);
}

.text{
	font-family: myFirstFont,Arial,sans-serif;
    max-width: auto;
}

.text-header-description{
    color: #465C8B;
    text-align: left;
    font-size: calc(80% + 1.0vw);
}

.text-header{
    font-size: calc(80% + 8.0vw);
    color: #465C8B;
    text-align: left;
}

.text-body-description
{
    color: #465C8B;
    text-align: left;
    font-size: calc(80% + 0.7vw);
    line-height: 30px;
    padding-bottom: 60px;
}





#custom-nav .navbar-nav>li>a:hover ,
#custom-nav .navbar-nav>li>a:active {
    border-bottom: 2px solid #ad1f2d!important;
}

.bgimg{
    position: relative;
    background: no-repeat url('img/headerimg.jpg') 50% / 100%;
}

.bgimg > img{
    vertical-align: top;
    width: 100%; /* max width */
    opacity: 0;  /* make it transparent */
}
.bgimg > div{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
}

/* Popover */
.popover {
    border: 2px dotted black;
}

/* Popover Header */
.popover-title {
    background-color: white;
    color: black;
    font-size: 25px;
    text-align:center;
    font-family: 'Oswald', sans-serif;
}

/* Popover Body */
.popover-content {
    background-color: white;
    color: black;
    padding: 25px;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;

}

/* Popover Arrow */
.arrow {
    border-top-color: red !important;
}



pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
